{% extends "base.html.twig" %}

{% block body %}
    <div id="js-notes-wrapper"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/babel" src="{{ asset('js/expenses/createFlow.react.js') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
            <NoteSection />,
            document.getElementById('js-notes-wrapper')
        );
    </script>
{% endblock %}
