{% extends "base.html.twig" %}

{% block body %}
    <h1>add user - todo</h1>
    <h3>for now: a user had been added</h3>
    <h3>for now: user has been signed in</h3>
    {{ dump(user) }}
{% endblock %}
