/* +++++  GLOBALS  +++++ */
.lineThrough {
    text-decoration: line-through;
}

/* go to top of page */
.goToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: bottom 0.5s;
    cursor: pointer;
    color: black;
}

.goToTop:visited, .goToTop:hover, .goToTop:focus {
    text-decoration: none;
}

.goToTop.down {
    bottom: -50px;
}

/* go homes */
.goHome {
    position: fixed;
    color: black;
    top: 30px;
    left: 30px;
    transition: transform 0.5s;
}

.goHome:visited, .goHome:hover, .goHome:focus {
    color: black;
    text-decoration: none;
}

.goHome.large {
    transform: scale(1.6);
}

/* +++++  VV-GPS  +++++ */

/* menu */
.vvgps_main_menu > .menuContainer > a {
    padding: 0;
}

.vvgps_main_menu > .menuContainer > a > .inner {
    margin: 0 10px;
    height: 280px;
    background: url('http://via.placeholder.com/270x270') no-repeat center;
    background-size: cover;
}

.vvgps_main_menu > .menuContainer > a > .inner > h2 {
    color: white;
}

@media (max-width: 768px)  {
    .vvgps_main_menu > .menuContainer > a > .inner {
        max-height: 25vh;
    }
}

/* pages */
.vvgps_goHome.large {
    transform: scale(3);
    transition: transform 0.5s;
}

.vvgps_pageMenu {
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vvgps_checklist {
    list-style-type: none;
    padding-left: 10px;
}

.vvgps_checklist > li {
    padding: 5px;
    display: flex;
    align-items: baseline;
}

.vvgps_checklist > li > .btn {
    margin-right: 5px;
}
