/* globals */
.lineThrough {
    text-decoration: line-through;
}


/*     +++++  VV-GPS  +++++     */

/* pages */
.vvgps_main_menu > .menuContainer > a {
    padding: 0;
}

.vvgps_main_menu > .menuContainer > a > .inner {
    margin: 0 10px;
    height: 280px;
    background: url('http://via.placeholder.com/270x270') no-repeat center;
    background-size: cover;
}

.vvgps_main_menu > .menuContainer > a > .inner > h2 {
    color: white;
}

@media (max-width: 768px)  {
    .vvgps_main_menu > .menuContainer > a > .inner {
        max-height: 25vh;
    }
}

/* pages */
.vvgps_pageMenu {
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.vvgps_checklist {
    list-style-type: none;
    padding-left: 10px;
}

.vvgps_checklist > li {
    padding: 5px;
    display: flex;
    align-items: baseline;
}

.vvgps_checklist > li > .btn {
    margin-right: 5px;
}
